{% extends 'Onthemove/base.html' %}
{%load staticfiles%}
{% block title %}Home{% endblock %}
{% block content %}

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>


<!-- <div class="alert alert-success">
	<div id = "use-log">
		{%if user.is_authenticated%}
		Hi, {{ user.first_name}}
		{%endif%}
	</div>
</div> -->

<div class="form-group">
  <input id = "pac-input" type="text" class="form-control" placeholder="Enter Location">
</div>

<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script> -->

       
<div id="status">
</div>
<div id="googleMap"></div>
<div class="form-group">
	<label>Start Date:</label>
	<input class="form-control date-picker" id="start-date-datepicker" name="date" type="text">
</div>
<div class="form-group">
	<label class="">End Date:</label>
	<input class="form-control date-picker" id="end-date-datepicker" name="date" type="text">
</div>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->



{% endblock %}
{%block jsfiles%}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCrx02MVvtSlDsDMtqUT7B7KUxVdjDcOWk&sensor=false&libraries=places"></script>
<script src = "{%static "Onthemove/js/GoogleMaps.js"%}"></script>
<script src = "{%static "Activities/js/picker.js"%}"></script>
<script src = "{%static "Activities/js/picker.time.js"%}"></script>

<script>
$(document).ready(function(){
	navigator.geolocation.getCurrentPosition(
		function(pos){
			var act = {{activity_info|safe}};
			var loc = {{location_info|safe}};
			GoogleMap.init(pos,act,loc);
		},
		function(){
			alert('Geo location is not supported');
		}
		);
});
</script>



<script>
$(function(){
	$('#start-date-datepicker').datepicker();
	$('#start-date-datepicker').val(getDayAtOffset(0));

	$('#end-date-datepicker').datepicker();
	$('#end-date-datepicker').val(getDayAtOffset(7));

	$('.date-picker').change(function(e) {
		timeQuery();
	});

	timeQuery();

	function getDayAtOffset(offset) {
		var date = new Date();
		date.setDate(date.getDate() + offset)
		var dd = date.getDate();
		var mm = date.getMonth() + 1;
		var yy = date.getFullYear();

		return mm.toString() + '/' + dd.toString() + '/' + yy.toString();
	}

	function timeQuery() {
		var csrf = document.cookie.split('=')[1];
		var path = "{{time_path}}",
		data = {"csrfmiddlewaretoken": csrf};
		data["start"] = orderDateString($('#start-date-datepicker').val());
		data["end"] = orderDateString($('#end-date-datepicker').val());
		$.ajax({
			type: "POST",
			dataType:"text",
			data:data,
			url:path,
			success:function(response){
				var parsedResponse = $.parseJSON(response);
				navigator.geolocation.getCurrentPosition(
					function(pos){
						var loc = parsedResponse.location_info;
						var act = $.parseJSON(parsedResponse.activity_info);
						GoogleMap.init(pos,act,loc);
					},
					function(){
						alert('Geo location is not supported');
					});
			},
			error:function(error){
				console.log(error);
			}
		});
	}

	function orderDateString(str) {
		var dateArray = str.split('/');
		var month = dateArray[0];
		var day = dateArray[1];
		var year = dateArray[2];

		return year + "-" + month + "-" + day;
	}
});

</script>




{%endblock%}

