{% extends 'Onthemove/base.html' %}
{%load staticfiles%}
{% block title %}Home{% endblock %}
{% block content %}

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>


<!-- <div class="alert alert-success">
	<div id = "use-log">
		{%if user.is_authenticated%}
		Hi, {{ user.first_name}}
		{%endif%}
	</div>
</div> -->

<div id="status">
</div>
<div id="googleMap"></div>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->



{% endblock %}
{%block jsfiles%}
<script src = "{%static "js/jquery.cookie.js"%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrx02MVvtSlDsDMtqUT7B7KUxVdjDcOWk&sensor=false"></script>
<script src = "{%static "Onthemove/js/GoogleMaps.js"%}"></script>
<script>
	var csrf = $.cookie('csrftoken');
	$(document).ready(function(){
	    navigator.geolocation.getCurrentPosition(
	    	function(pos){
		    	var act = {{activity_info|safe}};
		    	var loc = {{location_info|safe}};
		    	var path = '{{path}}';
		    	GoogleMap.init(pos,act,loc,{"csrfmiddlewaretoken":csrf},path);
		    	// GoogleMap.getLocation({"csrfmiddlewaretoken":csrf},path,pos);
	    	},
		    function(){
		    	alert('Geo location is not supported');
		   	}
		);
	});
</script>
{%endblock%}