{%extends "Onthemove/base.html"%}
{%load staticfiles%}
{%block title%}Choose Location{%endblock%}
{%block cssfiles%}
<link rel="stylesheet" type="text/css" href="{%static "Activities/css/chooseActivity.css"%}">
{%endblock%}
{%block content%}
<form role="form" method="POST" action = "{%url 'Activities:create_Location'%}">{%csrf_token%}
	<h1>Create an Activity</h1>
			{% for field in create_form %}
			<div class = 'form-group'>
				<div>{{field.errors|striptags}}</div>
	    		{{field.label_tag}}
	    		{{field}}
	    	</div>
			{% endfor %}
	<input class="btn btn-default" type = 'submit' value = "Next"/>
</form>

{%endblock%}