{% extends 'Onthemove/base.html' %}
{%load staticfiles%}
{% block title %}Details{% endblock %}
{%block cssfiles%}
<link rel='stylesheet' type='text/css' href = "{%static "Activities/css/activityPage.css"%}"/>
{%endblock%}

{%block attendees%}
 <nav id="my-right-menu">
          <ul>
          	<li><a>Home</a></li>
          	{% for participant in attendees.all %}
				<li>
					<a>
						{{ participant.user.first_name }} {{ participant.user.last_name }}

						{{loop.index}}
							{{ participant.age }}
					
							{{ participant.gender }}
					</a>
				</li>
			{% endfor %}
          </ul>
        </nav>  
{%endblock%}

{% block content %}

<ul class="list-group" id='enroll-list-group' style ='display:none;'>
  <li class="list-group-item list-group-item-success" id='enrollSuccess'>Thanks for enrolling! The owner has been notified!</li>
</ul>
<div class="modal fade" id="enroll-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class=modal-title>Enroll</h4>
			</div>
			<div class="modal-body" id = "body_modal">
				<p>Are you sure you want to enroll in this activity?</p>
				<div>
					<div id="loading" style="display: none"><img src="{%static "js/ajax-loader.gif"%}" title="Loading" /></div>
				</div>
			</div>
			<div class = "modal-footer">
				<a  class="btn btn-default" data-dismiss="modal">No </a>
				<a  class="btn btn-default" id="enroll">Yes</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="user-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class=modal-title>Participants</h4>
				<div class="modal-body">
					<table class='table'>
						<thead>
							<tr>
								<th>Name</th>
								<th>Age</th>
								<th>Gender</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									{{owner.user.first_name}} {{owner.user.last_name}} (Organizer)
								</td>
								<td>
									{{owner.age}}
								</td>
								<td>
									{{owner.gender}}
								</td>
							</tr>
						{% for participant in attendees.all %}
							<tr>
								<td>{{ participant.user.first_name }} {{ participant.user.last_name }}</td>
								<td>
									{{ participant.age }}
								</td>
								<td>
									{{ participant.gender }}
								</td>
							</tr>
						{% endfor %}
						</tbody>
						<!-- 
						<tbody>
							<tr>
								<td>Salil Gupta</td>
								<td>21</td>
								<td>M</td>
							</tr>
							<tr>
								<td>Greg Chan</td>
								<td>20</td>
								<td>M</td>
							</tr>
						</tbody> -->
					</table>
					<div class="pull-right">
						<button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row border-div">

	  <div class="col-xs-6">
	  	<h1>{{ activity_name }}</h1>
	  	<img class="act-logo" src="http://livingstontownship.org/sylsprograms/wp-content/uploads/2013/07/tennis-logo.jpg">
	  	<h3>{{ skill }}</h3>
	  </div>

	  <div class="col-xs-6">
	  	<h3><span>{{date}}</span> at <span>{{ start_time }}</span></h3>
	  	<h3><span>{{ address }}</span><br><span>{{city}}, {{ state }} {{ zipcode }}</span></h3>
	  	<h3><span>Weather: Sunny</span></h3>
	  	<div id='enrollStatus'>
		  	{%if user.is_authenticated and is_max_out%}
		  	<p>Sorry this activity is full!</p>
		  	{%elif user.is_authenticated and is_enrolled%}
		  	<p>You are already enrolled</p>
		  	{%elif user.is_authenticated and is_owner%}
		  	<p>You are the organizer</p>
		  	{%elif user.is_authenticated and is_pending%}
		  	<p>Your enrollment is pending!</p>
		  	{%elif user.is_authenticated%}
		  	<button class="btn" id="enroll-btn" data-toggle="modal" data-target="#enroll-modal">Enroll</button>
		  	{%endif%}
	  	</div>
	  </div>
	</div>

	<div class="row border-div loc-div">
		<h1>{{ location_name }}</h1>
		<div id="rating-div">
			<span class="fa icon-star rating"></span>
			<span class="fa icon-star rating"></span>
			<span class="fa icon-star rating"></span>
			<span class="fa icon-star rating"></span>
			<span class="fa icon-star-empty rating"></span>
		</div>
		<div class="img-div">
			<img class="loc-img" src="http://fitrec.mccormick.northwestern.edu/wordpress/http://fitrec.mccormick.northwestern.edu/wordpress/wp-content/uploads/2010/07/CombeTennisCourts450x300.jpg">
		</div>
	</div>

	<!-- <div class="row">
		<div class="text-center">
			<button class="btn btn-lg clear-btn-white" data-toggle="modal" data-target="#user-modal">Participants</button>
		</div>
	</div> -->
</div>

{% endblock %}
{%block jsfiles%}
	<script src = "{%static "js/jquery.cookie.js"%}"></script>
	<script src = "{%static "Activities/js/Activities.js"%}"></script>
	<script src = "{%static ""}"></script>
	<script>
		var csrf = $.cookie('csrftoken');
		Activities.init();
		Activities.enroll({"csrfmiddlewaretoken":csrf},"{{path}}");
	</script>
{%endblock%}
